header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-image: linear-gradient(to right,#465ab8, #261360);
    color: white;
    margin-bottom: 5px;
}

footer{
    height: 200px;
}

body{
    width: 100%;
}

main{
    margin: 0px 50px;
}

.main-row{
    margin-top: 13px;
    /* width: 100%; */
}

.width-600{
    width: 600px !important;
}

.back-button{
    height: 30px;
    filter: opacity(0);
}

.today-box{
    margin: 0px auto;
    width: 90%;
}

h1{
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
}

h2{
    font-size: 17px;
    font-weight: bolder;
}

h3{
    font-size: large;
    font-weight: bold;
}

.city-input{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border-width: 1px;
    padding: 5px 0px 5px 7px;
}

#input-box{
    margin: 0px auto;
}

.search-button{
    width: 100%;
    background-color: #6991e3;
    color: #e0e1e2;
    border-color: #6991e3;
    border-radius: 5px;
    border-style: none;
    font-size: small;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.search-again{
    /* width: 100% !important; */
    background-color: #aeaeae;
    color: #000000;
    border-radius: 5px;
    border-style: none;
    font-size: small;
    padding: 5px 0px;
    margin-top: 10px;
}

.saved-searches{
    border-top: 10px;
    margin-bottom: 20px;
    /* position: relative; */
}

ul li{
    margin: 8px 0px;
    padding-left: 0px;
    font-size: smaller;
}

.draggable {
    cursor: move;
    user-select: none;
}

/* @media screen and (max-width: 992px) {
    .today-box {
        width: 97%;
        margin: 10px auto 10px 10px;
    }
} */

@media screen and (max-width: 767px){
    header{
        padding: 10px 15px;
    }
    main{
        margin: 0px 10px;
    }
}

@media screen and (max-width: 575px){
    .width-600{
        width: 100% !important;
        margin-left: 0px;
    }
}