header{
    text-align: right;
    padding: 10px 25vw 10px;
    background-image: linear-gradient(to right,#465ab8, #261360);
    color: white;
    margin-bottom: 5px;
}

footer{
    height: 200px;
}
body{
    width: 100%;
}
.main-row{
    margin-top: 13px;
    width: 100%;
}

h1{
    font-size: xx-large;
    font-weight: 700;
}

h2{
    font-size: x-large;
    font-weight: bolder;
}

h3{
    font-size: large;
    font-weight: bold;
}

.city-input{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border-width: 1px;
    padding: 5px 0px 5px 7px;
}

.search-button{
    width: 100%;
    background-color: #6991e3;
    color: #e0e1e2;
    border-color: #6991e3;
    border-radius: 5px;
    border-style: none;
    font-size: small;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.search-again{
    width: 100% !important;
    background-color: #aeaeae;
    color: #000000;
    border-radius: 5px;
    border-style: none;
    font-size: small;
    padding: 5px 0px;
    margin-top: 10px;
}

.saved-searches{
    border-top: 10px;
    margin-bottom: 20px;
}

ul li{
    margin: 8px 0px;
    padding-left: 0px;
    font-size: smaller;
}

.draggable {
    cursor: move;
    user-select: none;
}

@media screen and (max-width: 992px) {
    .today-box {
        width: 97%; margin: 10px auto 10px 10px;
    }
}